AWS_PROFILE=xxxx
AWS_REGION=xxxx
CDK_DEFAULT_ACCOUNT=xxxx
CDK_DEFAULT_REGION=xxxx

# https://docs.aws.amazon.com/cli/latest/reference/ec2/describe-availability-zones.html
AWS_AVAILABILITY_ZONE=xxxx

# https://cloud-images.ubuntu.com/locator/
AWS_IMAGE_ID=xxxx
